name: Container Image Build and Push

on:
  push:
    branches:
      - main
    paths:
      - container_image/
      - .github/workflows/image-build-push.yaml
  schedule:
    - cron: '0 0 1 * *'  # Runs at 00:00 on the 1st of every month

jobs:
  build-and-push:
    runs-on: openshift

    steps:
      # - name: Checkout code
      #   uses: actions/checkout@v3

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v2

      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_PASSWORD }}


      - name: Get date for tag
        id: date
        run: echo "date=$(date +'%Y%m%d')""

      # - name: Get date for tag
      #   id: date
      #   run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v4
      #   with:
      #     context: container_image/
      #     file: ./container_image/Containerfile
      #     push: true
      #     tags: |
      #       moosestack/github-actions-runner:latest
      #       moosestack/github-actions-runner:ubi9-${{ steps.date.outputs.date }}